@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
  */

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  *, *::before, *::after { box-sizing: border-box; }

  html {
    font-family: 'Noto Sans KR', sans-serif;
  }

  .separator::before {
    @apply block absolute top-1/2 -translate-y-1/2 bg-gray-500;
    content: '';
    width: 2px;
    height: 14px;
  }

  .min-h-container {
    @apply pt-20 sm:pt-24 md:pt-32;
  }

  .min-h-container-pc {
    @apply pt-20 sm:pt-24 md:pt-32;
    min-height: calc(100vh - 300px);
  }

  .btn-arrow {
    display: block;
    width: 24px;
    height: 18px;
    background: url('/assets/images/icon_button_arrow.png');
  }
}

/* TODO: 임시- 정리해야함 main */
.main {
  @apply pt-0 md:pt-24 lg:pt-32;
  width: 100%;
  padding-bottom: 6%;
  margin: 0 auto;
  background: url('/assets/images/landing_main_mobile_bg.png') 70% 100% no-repeat, url('/assets/images/landing_main_bg.png') 50% 0 no-repeat;
  background-color: #f2f6ff;
  /* 임시코드 */
  @media (max-width: 1440px) {
    background-position: 98% 100%, 50% 0;
  }
  @media (max-width: 1024px) {
    background-image: url('/assets/images/landing_main_bg.png');
    background-position: 30% 80%;
  }
}

.item {
  flex: 1 0 calc(50% - 2rem);
}

.item > div {
  @apply flex flex-col items-center rounded-3xl bg-white p-8 py-14 lg:p-10;
}

.list {
  @apply mt-4 leading-7 relative pl-4
}

.list::before {
  @apply absolute left-0 top-1/2 block;
  content: '';
  width: 20px;
  height: 10px;
  border-left: 2px solid #7d78e6;
  border-bottom: 2px solid #7d78e6;
  transform: rotate(-45deg) translateY(-10px);
  transform-origin: bottom center;
}

.qna .q {
  @apply relative w-full cursor-pointer overflow-hidden break-keep rounded-2xl bg-white p-4 pr-20 font-bold leading-normal lg:rounded-3xl lg:py-8 lg:text-xl 
}

.qna .q.active {
  @apply rounded-b-none;
}

.qna .q::before {
  @apply block absolute top-1/2 -translate-y-1/2 bg-[#6a6d9e];
  content:'';
  right: 50px;
  width: 2px;
  height: 26px;
}

.qna .q::after {
  @apply block absolute top-1/2 -translate-y-1/2 translate-x-1/2 bg-[#6a6d9e];
  content:'';
  right: 51px;
  width: 26px;
  height: 2px;
}

.qna .q.active::before {
  @apply hidden;
}

.qna .a {
  @apply bg-white p-7 rounded-3xl rounded-t-none leading-normal;
}

/* introduce */
.introduce {
  @apply w-full mx-auto relative z-0;
  background-color: #5956e9;
}

.introduce_bg {
  @apply  max-w-screen-xl w-full h-full absolute left-1/2 top-0 -translate-x-1/2;
  background: url('/assets/images/introduce_bg.jpg') 0 100% / cover;
}

.box {
  @apply lg:relative inline-block w-full lg:w-1/2 bg-white p-5;
}

.box::before {
  @apply absolute -z-10 left-0 lg:left-12 h-[calc(100%-80px)] lg:h-[calc(100%+80px)] top-[40px] lg:-top-10 w-full border-8 border-solid opacity-10;
  content:'';
}

/* team */
.team {
  @apply max-lg:max-w-[500px] max-lg:w-full max-lg:mx-auto border p-5 max-lg:mb-10 py-12 shadow-md border-solid border-gray-300 bg-white;
  flex-basis: calc(33.33% - 22px);
}

.team > div {
  @apply flex flex-col items-center
}

/* dots */
.dots {
  @apply leading-relaxed text-gray-600;
}

.dots li {
  @apply flex items-center relative justify-center;
}

.dots li::before {
  @apply rounded-full mr-1;
  content:'';
  width: 5px;
  height: 5px;
  background-color: gray;
}

/* boxes */

.boxes .check {
  @apply block shrink-0 relative max-sm:mx-auto max-sm:mb-3; 
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #5956e9;
}

.boxes .check::before {
  @apply absolute left-1/2 top-1/2 border-2 border-solid border-white border-t-0 border-r-0;
  content:'';
  width: 10px;
  height: 5px;
  transform: rotate(-45deg) translate(-1px, -1px);
  transform-origin: 0 bottom;
}

/* login */
.login {
  @apply relative max-xl:!min-h-screen flex items-center justify-center xl:block;
  min-height: calc(100vh - 70px);
}

.login_left {
  @apply relative w-full p-5 sm:p-10 py-14 bg-[rgba(255,255,255,.9)] max-w-[580px] xl:max-w-2xl xl:bg-transparent sm:px-10;
}

.login_right {
  @apply absolute right-0 top-0 h-full max-md:!bg-none w-full xl:w-[70%];
  background: url('/assets/images/login_bg.jpg') center center / cover;
}

/* register */

.register {
  @apply min-h-screen flex items-center max-md:!bg-none;
  background: url('/assets/images/member_bg.jpg') 0 0 / cover;
}